﻿
@inject CityPharmacyChainApiWrapper ClientApi
@inject INotificationService NotificationService;

<Modal @ref="PriceListEntryModal">
    <ModalContent Centered>
        <Form>
            <ModalHeader>
                <ModalTitle>Добавление записи в прайс-лист</ModalTitle>
                <CloseButton Clicked="ClosePriceListEntryModalAsync" />
            </ModalHeader>

            <ModalBody>
                <Field>
                    <FieldLabel RequiredIndicator>Номер аптеки</FieldLabel>
                    <NumericEdit @bind-Value="@PharmacyNumber" />
                </Field>
                <Field>
                    <FieldLabel RequiredIndicator>Код препарата</FieldLabel>
                    <NumericEdit @bind-Value="@ProductCode" />
                </Field>
                <Field>
                    <FieldLabel RequiredIndicator>Производитель препарата</FieldLabel>
                    <TextEdit @bind-Text="@NewPriceListEntry.Manufacturer" />
                </Field>
                <Field>
                    <FieldLabel RequiredIndicator>Продано, шт</FieldLabel>
                    <NumericEdit @bind-Value="@NewPriceListEntry.SoldCount" />
                </Field>
                <Field>
                    <FieldLabel RequiredIndicator>Тип оплаты (наличные/карта)</FieldLabel>
                    <Validation UsePattern>
                        <TextEdit @bind-Text="@NewPriceListEntry.PaymentType" Pattern="Cash|Cashless">
                            <Feedback>
                                <ValidationError>Тип оплаты может принимать значение Cash или Cashless.</ValidationError>
                            </Feedback>
                        </TextEdit>
                    </Validation>
                </Field>
                <Field>
                    <FieldLabel RequiredIndicator>Дата продажи препарата</FieldLabel>
                    <DateEdit @bind-Date="@NewPriceListEntry.SaleDate" />
                </Field>
            </ModalBody>

            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="ClosePriceListEntryModalAsync">Отмена</Button>
                <Button Color="Color.Primary" Clicked="CreatePriceListEntryAsync">Создать</Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@code {
    /// <summary>
    /// Идентификатор записи в прайс-листе
    /// </summary>
    [Parameter]
    public int? PriceListEntryId { get; set; }

    /// <summary>
    /// Пробрасываемое событие для оповещения родительского компонента об изменении данных
    /// </summary>
    [Parameter]
    public EventCallback OnPriceListEntryAdded { get; set; }

    /// <summary>
    /// Номер аптеки для получения по нему PharmacyId
    /// </summary>
    private int PharmacyNumber { get; set; }

    /// <summary>
    /// Код препарата для получения по нему ProductId
    /// </summary>
    private int ProductCode { get; set; }

    /// <summary>
    /// Модальное окно для сущности класса запись в прайс-листе
    /// </summary>
    private Modal PriceListEntryModal { get; set; } = new();

    /// <summary>
    /// Добавляемая сущность класса запись в прайс-листе
    /// </summary>
    private PriceListEntryDto NewPriceListEntry { get; set; } = new();

    /// <summary>
    /// Переопределение метода OnInitializedAsync
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    /// <summary>
    /// Метод открывает модальное окно
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    public async Task Show() => await PriceListEntryModal.Show();

    /// <summary>
    /// Метод закрывает модальное окно
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    private async Task ClosePriceListEntryModalAsync() => await PriceListEntryModal.Hide();

    /// <summary>
    /// Метод добавляет к данным на сервере новую сущность класса запись в прайс-листе
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    private async Task CreatePriceListEntryAsync()
    {
        if (!(NewPriceListEntry.PaymentType is "Cash" or "Cashless"))
        {
            await NotificationService.Warning("Неверно введённые данные", $"Тип оплаты указан неверно. Возможные значения: 'Cash', 'Cashless'.");
            return;
        }
        var products = (await ClientApi.ProductGetAll()).ToList();
        var pharmacies = (await ClientApi.PharmacyGetAll()).ToList();
        var success = false;
        foreach (var product in products)
        {
            if (product.ProductCode == ProductCode)
            {
                foreach (var pharmacy in pharmacies)
                {
                    if (pharmacy.PharmacyNumber == PharmacyNumber)
                    {
                        success = true;
                        NewPriceListEntry.PharmacyId = pharmacy.PharmacyId;
                        NewPriceListEntry.ProductId = product.ProductId;
                        _ = await ClientApi.PriceListEntryPost(NewPriceListEntry);
                    }
                }
            }
        }
        if (!success)
            await NotificationService.Warning("Неверно введённые данные", $"Препарат или аптека не найдены.");
        await PriceListEntryModal.Hide();
        await OnPriceListEntryAdded.InvokeAsync();
    }
}

