
@inject CityPharmacyChainApiWrapper ClientApi
@inject NavigationManager NavManager

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h4>Таблица с данными о препаратах</h4>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary" Clicked="OpenCreateModal">
                    Добавить
                </Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="ProductFullDto" Data="@Products" PageSize="40" Responsive Filterable>

            <DataGridNumericColumn Field="@nameof(ProductFullDto.ProductCode)" Caption="Код препарата" Editable FilterMethod="DataGridColumnFilterMethod.StartsWith" />
            <DataGridColumn Field="@nameof(ProductFullDto.Name)" Caption="Название препарата" Editable FilterMethod="DataGridColumnFilterMethod.StartsWith" />
            <DataGridColumn Field="@nameof(ProductFullDto.ProductGroup)" Caption="Торговая группа" Editable FilterMethod="DataGridColumnFilterMethod.StartsWith" />
            <DataGridColumn Width="150px"
                            Filterable="false"
                            TItem="ProductFullDto"
                            Field="@nameof(ProductFullDto.ProductId)"
                            Caption="Действия">
                <DisplayTemplate>
                    <Dropdown>
                        <DropdownToggle Color="Color.Primary">
                            Действия
                        </DropdownToggle>
                        <DropdownMenu>
                            <DropdownItem Clicked="() => OpenEditPageAsync(context)">
                                Редактировать
                            </DropdownItem>
                            <DropdownItem Clicked="() => DeleteProductAsync(context)">
                                Удалить
                            </DropdownItem>
                        </DropdownMenu>
                    </Dropdown>
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridCommandColumn />
        </DataGrid>
    </CardBody>
</Card>

<ProductCreateModal @ref="ProductCreateModal" ProductId="ProductId" OnProductAdded="@HandleProductAdded" />

@code {
    /// <summary>
    /// Список сущностей класса препарат
    /// </summary>
    public List<ProductFullDto> Products { get; set; } = [];

    /// <summary>
    /// Идентификатор препарата
    /// </summary>
    [Parameter]
    public int? ProductId { get; set; }

    /// <summary>
    /// Пробрасываемое событие для оповещения родительского компонента об изменении данных
    /// </summary>
    [Parameter]
    public EventCallback OnDataChanged { get; set; }

    /// <summary>
    /// Компонент модальное окно для добавления новой сущности класса препарат
    /// </summary>
    private ProductCreateModal ProductCreateModal { get; set; } = new();

    /// <summary>
    /// Переопределение метода OnInitializedAsync
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    protected override async Task OnInitializedAsync()
    {
        await RefreshProductCollection();
        await base.OnInitializedAsync();
    }

    /// <summary>
    /// Метод переходит на страницу редактирования данных для сущности класса препарат
    /// </summary>
    /// <param name="context">Выбранная сущность для редактирования</param>
    private void OpenEditPageAsync(ProductFullDto context)
    {
        NavManager.NavigateTo($"product/{context.ProductId}");
    }

    /// <summary>
    /// Метод удаляет с сервера сущность класса препарат
    /// </summary>
    /// <param name="context">Выбранная сущность для удаления</param>
    /// <returns>Асинхронная задача</returns>
    private async Task DeleteProductAsync(ProductFullDto context)
    {
        await ClientApi.ProductDelete(context.ProductId);
        await RefreshProductCollection();
        await OnDataChanged.InvokeAsync();
    }

    /// <summary>
    /// Метод обновляет страницу при добавлении новой сущности класса препарат
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    private async Task HandleProductAdded()
    {
        await RefreshProductCollection();
        await OnDataChanged.InvokeAsync();
    }

    /// <summary>
    /// Метод открывает модальное окно при добавлении новой сущности класса препарат
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    private async Task OpenCreateModal() => await ProductCreateModal.Show();

    /// <summary>
    /// Метод запрашивает с сервера новые данные для сущности класса препарат
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    private async Task RefreshProductCollection()
    {
        Products = (await ClientApi.ProductGetAll()).ToList();
    }
}

