﻿
@page "/pharmacy/{Id}"

@inject CityPharmacyChainApiWrapper ClientApi
@inject IJSRuntime JsRuntime

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h4>Изменить информацию об аптеке</h4>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary" Clicked="UpdatePharmacyAsync">
                    Сохранить
                </Button>
                <Button Color="Color.Danger" Clicked="DeletePharmacyAsync">
                    Удалить
                </Button>
                <Button Color="Color.Secondary" onclick="history.back();">
                    Закрыть
                </Button>
            </Column>
        </Row>
    </CardHeader>

    <CardBody>
        <Field>
            <FieldLabel>Номер аптеки</FieldLabel>
            <NumericEdit @bind-Value="@UpdatedPharmacy.PharmacyNumber" />
        </Field>
        <Field>
            <FieldLabel>Название аптеки</FieldLabel>
            <TextEdit @bind-Text="@UpdatedPharmacy.Name" />
        </Field>
        <Field>
            <FieldLabel>Номер телефона аптеки</FieldLabel>
            <Validation UsePattern>
                <NumericEdit @bind-Value="@UpdatedPharmacy.PhoneNumber" Pattern="^(?!0+$)(\+\d{1,3}[- ]?)?(?!0+$)\d{10,15}$">
                    <Feedback>
                        <ValidationError>Неправильный формат номера телефона.</ValidationError>
                    </Feedback>
                </NumericEdit>
            </Validation>
        </Field>
        <Field>
            <FieldLabel>Адрес аптеки</FieldLabel>
            <TextEdit @bind-Text="@UpdatedPharmacy.Address" />
        </Field>
        <Field>
            <FieldLabel>ФИО директора аптеки</FieldLabel>
            <TextEdit @bind-Text="@UpdatedPharmacy.DirectorFullName" />
        </Field>
    </CardBody>
</Card>

<PharmacyDataGrid PharmacyId="@PharmacyId" />

@code {
    /// <summary>
    /// Идентификатор аптеки (строка)
    /// </summary>
    [Parameter] 
    public string Id { get; set; } = "";

    /// <summary>
    /// Идентификатор аптеки (число)
    /// </summary>
    private int PharmacyId { get; set; }

    /// <summary>
    /// Обновлённая сущность класса аптека
    /// </summary>
    private PharmacyDto UpdatedPharmacy { get; set; } = new();

    /// <summary>
    /// Переопределение метода OnInitializedAsync
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    protected override async Task OnInitializedAsync()
    {
        if (!int.TryParse(Id, out var id))
            throw new Exception("Некорректный идентификатор аптеки");
        PharmacyId = id;
        UpdatedPharmacy = await ClientApi.PharmacyGetById(PharmacyId);
        await base.OnInitializedAsync();
    }

    /// <summary>
    /// Метод удаляет с сервера сущность класса аптека
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    private async Task DeletePharmacyAsync()
    {
        await ClientApi.PharmacyDelete(PharmacyId);
        await JsRuntime.InvokeVoidAsync("history.back");
    }

    /// <summary>
    /// Метод модифицирует на сервере сущность класса аптека
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    private async Task UpdatePharmacyAsync()
    {
        var editedPharmacy = new PharmacyDto
        {
            PharmacyNumber = UpdatedPharmacy.PharmacyNumber,
            Name = UpdatedPharmacy.Name,
            PhoneNumber = UpdatedPharmacy.PhoneNumber,
            Address = UpdatedPharmacy.Address,
            DirectorFullName = UpdatedPharmacy.DirectorFullName,
        };
        var updatedPharmacy = await ClientApi.PharmacyPut(PharmacyId, editedPharmacy);
        UpdatedPharmacy.PharmacyNumber = updatedPharmacy.PharmacyNumber;
        UpdatedPharmacy.Name = updatedPharmacy.Name;
        UpdatedPharmacy.PhoneNumber = updatedPharmacy.PhoneNumber;
        UpdatedPharmacy.Address = updatedPharmacy.Address;
        UpdatedPharmacy.DirectorFullName = updatedPharmacy.DirectorFullName;
        await JsRuntime.InvokeVoidAsync("history.back");
    }
}
